<%- include ("./partials/header")  %>


<div class="container">
    <div class="jumbotron">
        <h1><%= state.name %></h1>
        <p><%= state.history%></p>
        
    </div>
    <img width="100%" src="<%= state.image %>" alt="">
    
    
    
</div>





<%- include ("./partials/footer")  %>